<link rel="stylesheet" href="/styles/addressbook/addressbook_main.css" >
<div>
    <div class="row mainFrame">
        <div class="mainLeft"></div>
        <div class="mainRight"></div>
        <div class="phoneFrame">
            <iframe id="demoIframe" src="http://organizebuddies.herokuapp.com/demo/" ></iframe>
        </div>


        <div class="rightContentCont">
            <div>
                <div id="mainFrameLogo"></div>
                <a href="#/addressbook/" id="addressBookDashBoardLink" ><span>User Dashboard</span></a>
                <div class="textContent">
                    <h5>What is Organize Buddies</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
                <div id="storeIcons">
                    <a href="#/addressbook/" class="storeIcons storeIconsWindowsPhone8">
                        <span>Windows Phone</span>
                    </a>
                    <a href="#/addressbook/" class="storeIcons storeIconsIos">
                        <span>IOS</span>
                    </a>
                    <a href="#/addressbook/" class="storeIcons storeIconsAndroid">
                        <span>Android</span>
                    </a>
                    <a href="#/addressbook/" class="storeIcons storeIconsWindows8">
                        <span>Windows 8</span>
                    </a>
                    <a href="#/addressbook/" class="storeIcons storeIconsChrome">
                        <span>Chrome</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
