<!-- Bootstrap for AngularJS http://angular-ui.github.io/bootstrap/ -->

<div class="hero-unit">
  <h2>Welcome to HTML5 Technology Showcase</h2>
  <p>You now have</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>installed in your browser.</p>
  <p> On the cloud you have the following running </p>
    <ul>
        <li ng-repeat="serverThing in awesomeServerThings">{{serverThing}}</li>
    </ul>
  <h3>HTML5 is the Present</h3>
    A lot of people still think that HTML5 is the future. I think that HTML5 is here right now.
    I have put together this small web app to demonstrate the capabilities of HTML5 and what you can do with it.
    Just like Facebook and Gmail this is a single page web app, thanks to the magic of AngularJS.
    In HTML5 is equally comfortable in creating either <a ng-href="#/svg">2D vector graphics</a> or jaw dropping <a ng-href="#/3d">3D graphics</a>.
    It is now even possible to create <a ng-href="#/realtime">real-time communication web apps</a> with WebRTC and Web Sockets.
    Let us innovate and build some jaw dropping awesome apps using this new technology right now.

</div>
