

<!--<div class="row" style="margin:10px 0 30px 0; padding:10px; background-color:#EEEEEE; border-radius:5px; font:12px Tahoma;">-->

    <!--<button ng-click="addTopic()" ng-disabled="isDisabled">New Topic</button>-->

    <!--<input ng-model="topicName">-->

<!--</div>-->





<div class="row appContainer_organizeMe" ng-init="initApp()">

    <div id="splashPage_organizeMe" class="span12" style="height:85%;position:absolute;text-align:center;width:99%">
        <img src="/img/appicon.png" style="width:50%;height:40%;position: relative;top:35%;" />
    </div>


        <div id="explorerPanel" ng-click="removeStack($event)" class="span4" style="display:none">


            <div class="explorerHeader">
                <img src="/img/addNoteIcon_organizeMe.png" ng-show="topicTree.currentNode.dataContainer"  ng-click="addTopic(topicTree.stackEmpty, $event)"/>
                <img src="/img/delNoteIcon_organizeMe.png" ng-show="topicTree.currentNode.dataContainer"  ng-click="handleDelete($event)"/>

                <!--<a pageslide="left" clas="btn btn-large" ps-speed="0.5" href="#explorerPanel" container=".explorerBox">Hide</a>-->
            </div>

            <div
                    data-angular-treeview="true"
                    data-tree-id="topicTree"
                    data-tree-model="topicTree"
                    data-node-id="topicId"
                    data-node-label="topicName"
                    data-node-children="children" class="angular-tree" >
            </div>
        </div>


    <div class="itemsContainer_organizeMe" ng-show="topicTree.currentNode && topicTree.currentNode.dataContainer">

        <div ng-repeat="item in topicTree.currentNode.children" class="itemContainer" >

            <div class="iconBody_organizeMe span3" ng-draggable="true" ng-style="item.position" >

                <div class="hookContainer">
                    &nbsp;
                    <img src="/img/hook.png" ng-click="handleDelete($index, $event)"  >
                </div>


                <div style="height:100%" >

                        <div class="iconContainer" set-background="item">

                            <div class="iconHeader_organizeMe">
                                <p ng-blur="onTopicNameChange($event, item)"  contenteditable="true">{{item.topicName}}</p>
                            </div>

                            <div class="content_organizeMe" ng-click="topicTree.currentNode.selected=undefined;topicTree.currentNode=item;topicTree.currentNode.selected='selected'">

                                <div ng-show="topicTree.currentNode.children.length>0 && item.dataContainer==true && item.children.length>0">
                                    <span>{{item.children.length}}</span>
                                    <img  src="/img/childsContainer_organizeMe.png" style="" />
                                </div>


                                <p ng-bind-html-unsafe="item.note">
                                </p>
                            </div>

                        </div>

                </div>
            </div>
        </div>
        <div class="extraNote span3" style="height:190px;border-radius:10px;text-align:center;">
            <img src="/img/stuffAdder_organizeMe.png" style="margin-top:10%;cursor:pointer" ng-click="addNote()"/>
        </div>
    </div>


    <div class="span12 itemsContainer_organizeMe" ng-show="topicTree.currentNode && !topicTree.currentNode.dataContainer && !topicTree.currentNode.isNotNode">

        <!--<div style="text-align:center">-->
            <!--<img  src="/img/hook.png" width=25 height=25 style="position:absolute;margin-top:-40px" >-->
        <!--</div>-->

        <div class="itemBody_organizeMe">

            <!--ng-content-change="onTopicNameChange($event)"-->
            <!--ng-model="topicTree.currentNode.topicName"-->
                <div  class="itemHeader_organizeMe" >

                    <div class="hookContainer">
                        &nbsp;
                        <img src="/img/hook.png"  />
                    </div>

                    <div class="titleEditor" >
                       <span ng-blur="onTopicNameChange($event, topicTree.currentNode)"  contenteditable="true">
                           {{topicTree.currentNode.topicName}}
                       </span>
                    </div>


                </div>

            <div style="overflow: auto;height: 100%">
                <!--<div ng-bind-html-unsafe="topicTree.currentNode.note" ng-content-change="onTopicContentChange($event)" class="itemContent_organizeMe" contenteditable="true">-->

                    <div ng-bind-html-unsafe="topicTree.currentNode.note" ng-blur="onTopicContentChange($event)" class="itemContent_organizeMe" contenteditable="true">

                    <!--{{topicTree.currentNode.note}}-->
                </div>
            </div>

        </div>



    </div>
</div>