<div class="realtime">

    <div id="myCamera">
        <video id="myVideo" autoplay muted></video>
    </div>

    <div id="hisCamera">
        <video id="hisVideo" autoplay></video>
    </div>

    <div class="control_btns_panel">
        <div class="control_btns">
            <div class="control_btns_text">Start</div>
        </div>
        <div class="control_btns">
            <div class="control_btns_text">Call</div>
        </div>
        <div class="control_btns">
            <div class="control_btns_text">HangUp</div>
        </div>
    </div>
</div>