<!--<div style="position: fixed; left: 60px; bottom: 25px;">Saad's and Sohaib's D3.js Work goes here</div>
<div style="position: fixed; left: 60px; bottom: 10px;">Please refer to
    http://briantford.com/blog/angular-d3.html
    http://bl.ocks.org/biovisualize/5372077
    http://stackoverflow.com/questions/11141528/d3-within-an-angularjs-app
</div>-->
<!--<div class="create_btn_div">
       <div class="create_btn" ng-class="{create_btn_opened: toolSelected}" ng-click="creationBtnClicked()">
           <span class="create_btn_text">Create</span>
           <span class="create_btn_slide_text">{{selectedToolName}}</span>
           <span class="create_btn_icon_right"><span></span></span>
       </div>
   </div>


   <div class="create_btn_panel" ng-show="toolPanelOpened">
       <div class="tool_btn" ng-repeat="item in mainMenuItems">
           <div class="tool_btn_text" ng-click="item.clicked.call(item, this)">{{ item.name }}</div>
       </div>
   </div>-->

<div class="svg_editor">

    <uc-shapes-editor></uc-shapes-editor>

</div>